main {
	min-height: 80vh;
}

body {
	overflow-x: hidden;
}

.home__product {
	border-radius: 6px;
	box-shadow: 0 0px 6px -5px #0000007e;
	transition: 0.3s ease-in;
}

.home__product:hover {
	transform: scale(1.05);
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0 2px 8px 0px #00000086;
}

.favicon {
	height: 36px;
	margin-right: 0.2rem;
}

.car {
	height: 300px;
	border-radius: 6px;
	box-shadow: 0 3px 5px 0px #0000007e;
}
.car h5 {
	color: #1f0101;
	font-weight: 300;
}

.car img {
	margin: 2rem 0 0 0;
	height: 220px;
	border-radius: 99px;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: -0.35rem;
}

.rating .MuiSvgIcon-root {
	color: orange;
	transform: scale(0.9);
}

header a {
	color: lightgray;
	transition: 0.15s ease-in-out;
}

header a > sup {
	transform: scale(1.4);
	color: rgb(255, 123, 0);
}

header a:hover {
	color: white;
	text-decoration-line: none;
}

.active {
	color: #00c3ff;
}

.MuiSvgIcon-root {
	cursor: pointer;
}
